services:
  nginx:
    build: ./nginx
    container_name: nginx
    ports:
      - "8080:8080"
      - "8081:8081"
      - "443:443"

  tests:
    build: ./tests
    container_name: tests
    depends_on:
      - nginx
