name: CI

on:
  push:
    branches: [main]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ghcr.io/ohadazn/nginx

jobs:
  test-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - uses: actions/checkout@v4

      # 1. Run tests
      - name: Run tests
        id: tests
        run: docker compose up --build --abort-on-container-exit --exit-code-from tests
        continue-on-error: true

      # 2. Create result artifact
      - name: Handle Artifacts
        if: always()
        run: |
          mkdir artifacts
          if [ "${{ steps.tests.outcome }}" == "success" ]; then
            touch artifacts/succeeded
          else
            touch artifacts/fail
          fi

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-results
          path: artifacts/

      # 3. Deploy (only if tests pass)
      - name: Log in to GHCR
        if: steps.tests.outcome == 'success'
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        if: steps.tests.outcome == 'success'
        id: push
        uses: docker/build-push-action@v5
        with:
          context: ./nginx
          push: true
          tags: ${{ env.IMAGE_NAME }}:latest

      - name: Install Cosign
        if: steps.tests.outcome == 'success'
        uses: sigstore/cosign-installer@v3

      - name: Sign image
        if: steps.tests.outcome == 'success'
        run: cosign sign --yes ${{ env.IMAGE_NAME }}@${{ steps.push.outputs.digest }}

      # 4. Cleanup and final status
      - name: Final Check
        if: always()
        run: |
          docker compose down
          if [ "${{ steps.tests.outcome }}" == "failure" ]; then
            echo "Tests failed, failing the job."
            exit 1
          fi
